<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>
<ul>
    <li><a href="/author_list/">Autrzy</a> </li>
    <li><a href="/author_add/">dodaj Autra</a> </li>
    <li><a href="/book_list/">wyswiet książki</a> </li>
    <li><a href="/book_add/">dodaj książke</a> </li>
    <li><a href="/sessions/">sesje</a> </li>
    <li><a href="/cookies/">ciasteczka</a> </li>
    <li><a href="/set_session/">set session</a> </li>
    <li><a href="/show_session/">Show session</a> </li>
    <li><a href="/del_session/">Del session</a> </li>
    <li><a href="/login/">login</a> </li>



</ul>

{% block content %}
{% endblock %}

</body>
</html>